/* Estilos para a página de contato */

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h3 {
    margin-top: 2rem;
}

.social-links a {
    font-size: 1.5rem;
    color: #007bff;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #0056b3;
}

.map-container {
    margin-top: 1rem;
}

/* Formulário */
.form-control {
    border-radius: 0.5rem;
}

.btn-primary {
    border-radius: 0.5rem;
}

/* Estilo para os ícones */
.list-unstyled {
    list-style: none;
    padding: 0;
}

.list-unstyled li {
    margin-bottom: 1rem;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000; /* Certifique-se de que a navbar esteja acima do conteúdo */
  }

  /* Adicione um padding-top ao body para evitar que o conteúdo fique atrás da navbar */
  body:not(.homepage) {
    padding-top: 89px; /* Ajuste conforme a altura da sua navbar */
  }