/* Introdução */
.intro-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 0;
}
.intro-section .description {
  flex: 1;
  padding-right: 30px;
}
.intro-section .image {
  flex: 1;
  text-align: center;
}
.intro-section img {
  max-width: 80%;
  height: auto;
}

/* Missão, Visão e Valores */
.mission-vision-values {
  padding: 50px 0;
}
.mission-vision-values h2 {
  margin-bottom: 20px;
}
.mission-vision-values p {
  margin-bottom: 40px;
}

/* Diferenciais */
.differentials {
  padding: 50px 0;
  background-color: #f8f9fa;
}
.differentials h2 {
  text-align: center;
  margin-bottom: 30px;
}
.differential-card {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  transition: transform 0.2s;
}
.differential-card:hover {
  transform: scale(1.05);
}

/* Orçamento */
.budget-section {
  padding: 50px 0;
  text-align: center;
}
.budget-section h3 {
  margin-bottom: 20px;
}

/* História da Empresa */
.history-section {
  padding: 50px 0;
}


/* Depoimentos com Slider */
.testimonial-section {
  padding: 50px 0;
  background-color: #f0f0f0;
}
.testimonial-section h2 {
  text-align: center;
  margin-bottom: 0px;
}
.testimonial-card {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: 20px 0;
}
.timeline-item {
  position: relative;
  text-align: center;
  cursor: pointer;
}
.timeline-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.timeline-item p {
  margin: 10px 0 0;
}
.timeline-item .description {
  display: none;
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.timeline-item:hover .description {
  display: block;
}

@media (max-width: 768px) {
.company-introduction {
    flex-direction: column; /* Altera a direção para coluna em dispositivos menores */
    text-align: center; /* Centraliza o texto */
}

.text-container {
    margin-bottom: 20px; /* Espaço entre o texto e a imagem */
}
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 1000; /* Certifique-se de que a navbar esteja acima do conteúdo */
}

/* Adicione um padding-top ao body para evitar que o conteúdo fique atrás da navbar */
body:not(.homepage) {
  padding-top: 89px; /* Ajuste conforme a altura da sua navbar */
}